@import url('https://fonts.googleapis.com/css2?family=Grandstander:wght@700&display=swap');

body {
    margin: 0;
}

$font: 'Grandstander', 'cursive';

$darkGreen: #004644;
$green: #346437;
$backgroundGreen: #849324;
$orange: #FF9F1C;
$blue: #0FA3B1;
$white: #F0DCCA;