.introPicture {
    background: url(../assets/Welpen.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    width: 100%;
    height: 90vh;
    text-align: center;
}